:root {
  --background: #1e1e2e;
  --card: #2a2a40;
  --main-blue: #7c4dff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  margin-top: 15px;
  font-weight: 500;
}

header p {
  color: gray;
}

.grid-membros {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-membro {
  padding: 15px;
  border-radius: 8px;
  display: flex;
  text-decoration: none;
  color: white;
  border: 2px solid transparent; 
  transition: transform 0.2s ease, border-color 0.2s ease;
}

.card-membro:hover {
  transform: translateY(-3px);
}

.card-membro span {
  flex-grow: 1;
}

#adriel {
  background-color: rgb(0, 15, 67);
}

#adriel:hover {
  border-color: rgba(255, 255, 255, 0.2);
}

#akira {
  background-color: #2c2c2c;
}

#akira:hover {
  border-color: #ff5758;
}

#orestes {
  background-color: #8b2211;
}

#orestes:hover {
  border-color: #f4f6f9;
}

#rafael {
  background-color: #0f8f3c;
}

#rafael:hover {
  border-color: #004d00;
}

#sophia {
  background-color: #000;
}

#sophia:hover {
  border-color: rgb(65, 45, 103);
}